body {
    margin: 0;
}

#catalog-image-list {
    max-width: 900px;
    padding-top: 128px;
    padding-bottom: 100px;
}
#catalog-image-list .mdc-image-list__image-aspect-container {
    padding-bottom: calc(100% / 1);
}
#catalog-image-list .mdc-image-list__item {
    width: calc(100% / 4 - 8.25px);
    margin: 4px;
}

@media (max-width: 599px) {
    #catalog-image-list .mdc-image-list__item {
        width: calc(100% / 3 - 8.3333333333px);
        margin: 4px;
    }
}
@media (max-width: 320px) {
    #catalog-image-list .mdc-image-list__item {
        width: calc(100% / 2 - 8.5px);
        margin: 4px;
    }
}
.catalog-image-list-item-container {
    background-color: #f5f5f5;
}

.catalog-image-list-label {
    font-weight: 500;
    color: #212121;
}

a.catalog-image-link {
    text-decoration: none;
}